# Ignore Python bytecode files
*.pyc
__pycache__/

main.spec


dist/
Output/
build/
program/
myenv/
vscode/
.vscode/
venvmac/
.venvmac/
venvlaptop/
.venvlaptop/
venv/
.venv/

setup.py